<?xml version="1.0"?>
<robot name="rb1"
	xmlns:xacro="http://www.ros.org/wiki/xacro">


	<!-- ***************** -->
	<!-- Imported elements -->
	<!-- ***************** -->

	<!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

	<!-- Import rb1 macro -->
	<xacro:include filename="$(find robotnik_description)/urdf/bases/rb1/rb1_base.xacro"/>

    <xacro:include filename="$(find robotnik_description)/urdf/base_hw/rb1.ros2_control.urdf" />
	<xacro:include filename="$(find robotnik_description)/simulators/gazebo_ignition/rb1/rb1_control.urdf.xacro"/>

	<!-- Import all available sensors -->
	<xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />

	<!-- ***************** -->
	<!-- Global parameters -->
	<!-- ***************** -->

	<!-- Second we define all the parameters and arguments to customize the robot characteristics -->

	<xacro:property name="PI" value="3.1415926535897931"/>

	<!-- Flag to select the high or low quality model -->
	<xacro:property name="hq" value="true" />

	<xacro:arg name="namespace" default="robot"/>
	<xacro:arg name="prefix" default=""/>
	<xacro:arg name="gazebo_ignition" default="false"/>

	<!-- Here we create the robot using the xacro:macro imported at the beggining of this file -->

	<xacro:rb1 prefix="$(arg prefix)" hq="${hq}"/>

	<!-- SENSORS -->
    <xacro:property name="imu_offset_x" value="-0.1975"/>
    <xacro:property name="imu_offset_y" value="0.0"/>
    <xacro:property name="imu_offset_z" value="0.1098"/>

	<xacro:property name="front_rgbd_camera_offset_x" value="0.234"/>
	<xacro:property name="front_rgbd_camera_offset_y" value="0.0"/>
	<xacro:property name="front_rgbd_camera_offset_z" value="0.0408"/>

	<xacro:property name="front_laser_offset_x" value="0.210"/>
	<xacro:property name="front_laser_offset_y" value="0.0"/>
	<xacro:property name="front_laser_offset_z" value="0.1588"/>

	<!-- IMU -->
    <xacro:sensor_vectornav
        frame_prefix="$(arg prefix)vectornav_"
        parent="$(arg prefix)base_link"
        node_namespace="$(arg namespace)"
        gazebo_ignition="$(arg gazebo_ignition)">
        <origin xyz="${imu_offset_x} ${imu_offset_y} ${imu_offset_z}" rpy="0 0 0"/>
    </xacro:sensor_vectornav>

	<!-- 2D LASER -->
    <xacro:sensor_hokuyo_ust20lx
        frame_prefix="$(arg prefix)front_laser_"
        parent="$(arg prefix)base_link"
        node_namespace="$(arg namespace)"
        node_name="front_laser"
        gazebo_ignition="$(arg gazebo_ignition)">
        <origin xyz="${front_laser_offset_x} ${front_laser_offset_y} ${front_laser_offset_z}" rpy="0 ${pi} ${pi}"/>
    </xacro:sensor_hokuyo_ust20lx>

  	<!-- CAMERAS -->
    <xacro:sensor_intel_realsense_d435
        frame_prefix="$(arg prefix)front_rgbd_camera_"
        parent="$(arg prefix)base_link"
        node_namespace="$(arg namespace)"
        node_name="front_camera"
        gazebo_ignition="$(arg gazebo_ignition)">
        <origin xyz="${front_rgbd_camera_offset_x} ${front_rgbd_camera_offset_y} ${front_rgbd_camera_offset_z}" rpy="0 0 0"/>
    </xacro:sensor_intel_realsense_d435>

	<!-- Controllers -->
	<xacro:if value="$(arg gazebo_ignition)">
		<xacro:rb1_gz_ignition_control namespace="$(arg namespace)" prefix="$(arg prefix)"/>
	</xacro:if>
	<xacro:unless value="$(arg gazebo_ignition)">
    	<xacro:rb1_base_hw_controller/>
    </xacro:unless>

</robot>
