<?xml version="1.0"?>
<robot name="rbwatcher" xmlns:xacro="http://wiki.ros.org/xacro">


	<!-- ***************** -->
	<!-- Imported elements -->
	<!-- ***************** -->

	<!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

	<!-- Import RB-Watcher base elements -->
	<xacro:include filename="$(find robot_description)/urdf/bodies/rbwatcher/rbwatcher_body.urdf.xacro" />

	<!-- Import RB-Watcher wheels -->
  	<xacro:include filename="$(find robot_description)/urdf/wheels/rubber_wheel/rbwatcher_rubber_wheel.urdf.xacro" />
  	<xacro:include filename="$(find robot_description)/urdf/wheels/omni_wheel/omni_wheel.urdf.xacro" />

	<!-- Import all available sensors -->
	<xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />

	<xacro:property name="PI" value="3.1415926535897931"/>

	<!-- Wheel parameters -->
	<xacro:property name="wheel_offset_x" value="0.22795" />    <!-- x,y,z in translation from base_link to the center of the wheel -->
	<xacro:property name="wheel_offset_y" value="0.155" />
	<xacro:property name="wheel_offset_z" value="0.0" />
	<xacro:property name="docking_contact_offset_x" value="0.29378" />
	<xacro:property name="docking_contact_offset_y" value="0.0" />
	<xacro:property name="docking_contact_offset_z" value="0.07321" />
	<xacro:property name="rubber_wheel_radius" value="0.1175" />
	<xacro:property name="rubber_wheel_width" value="0.142" />
	<xacro:property name="rubber_wheel_mass" value="4" />
	<xacro:property name="mesh_file_left" value="robot_description/meshes/wheels/rubber_wheel/rubber_wheel_v2_left" />
	<xacro:property name="mesh_file_right" value="robot_description/meshes/wheels/rubber_wheel/rubber_wheel_v2_right" />

	<!-- Flag to select the high or low quality model -->
	<xacro:property name="hq" value="true" />

  <xacro:macro name="rbwatcher" params="prefix:=robot_ hq publish_bf">

		<!-- *************** -->
		<!-- Robots Elements -->
		<!-- *************** -->

		<!-- Here we create the robot elements using the xacro:macros imported at the beggining of this file -->

		<xacro:rbwatcher_body prefix="${prefix}" />

		<!-- Wheels -->
		<xacro:rubber_wheel
	            prefix1="${prefix}"
	            prefix2="front_right"
	            parent="${prefix}base_link"
	            reflect="false" hq="${hq}"
	            rubber_wheel_radius="${rubber_wheel_radius}"
	            rubber_wheel_width="${rubber_wheel_width}"
	            rubber_wheel_mass="${rubber_wheel_mass}" 
		    mesh_file="${mesh_file_right}">
		    <origin xyz="${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
		</xacro:rubber_wheel>
		
		<xacro:rubber_wheel
	            prefix1="${prefix}"
	            prefix2="front_left"
	            parent="${prefix}base_link"
	            reflect="false" hq="${hq}"
	            rubber_wheel_radius="${rubber_wheel_radius}"
	            rubber_wheel_width="${rubber_wheel_width}"
	            rubber_wheel_mass="${rubber_wheel_mass}" 
		    mesh_file="${mesh_file_left}">
		    <origin xyz="${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
		</xacro:rubber_wheel>
		
		<xacro:rubber_wheel
	            prefix1="${prefix}"
	            prefix2="back_right"
	            parent="${prefix}base_link"
	            reflect="false" hq="${hq}"
	            rubber_wheel_radius="${rubber_wheel_radius}"
	            rubber_wheel_width="${rubber_wheel_width}"
	            rubber_wheel_mass="${rubber_wheel_mass}" 
		    mesh_file="${mesh_file_right}">
		    <origin xyz="-${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
		</xacro:rubber_wheel>
		
		<xacro:rubber_wheel
	            prefix1="${prefix}"
	            prefix2="back_left"
	            parent="${prefix}base_link"
	            reflect="false" hq="${hq}"
	            rubber_wheel_radius="${rubber_wheel_radius}"
	            rubber_wheel_width="${rubber_wheel_width}"
	            rubber_wheel_mass="${rubber_wheel_mass}" 
		    mesh_file="${mesh_file_left}">
		    <origin xyz="-${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
		</xacro:rubber_wheel>

   </xacro:macro>

</robot>
