<?xml version="1.0" ?>
<robot
  name="rbcar_base"
  xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include
    filename="$(find robotnik_description)/urdf/bodies/rbcar/rbcar_body.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_description)/urdf/wheels/rbcar/suspension_wheel_v4.urdf.xacro" />

  <!-- WHEELS PROPERTIES -->
  <xacro:property
    name="wheel_offset_x"
    value="0.91131" />
  <xacro:property
    name="wheel_offset_y"
    value="0.62124" />
  <xacro:property
    name="wheel_offset_z"
    value="-0.05" />

  <xacro:macro
    name="rbcar"
    params="
      prefix:=robot_
      gazebo_ignition:=false
      namespace:=''
      ">
    <xacro:property
      name="hq"
      value="true" />
    <xacro:rbcar_body
      prefix="${prefix}"
      hq="${hq}"
      clearance="${wheel_radius}" />

    <!-- WHEELS -->
    <xacro:front_wheel
      prefix="${prefix}"
      lr_prefix="left"
      fr_prefix="front"
      lr_reflect="1"
      fr_reflect="1"
      parent="${prefix}base_link" />

    <xacro:front_wheel
      prefix="${prefix}"
      lr_prefix="right"
      fr_prefix="front"
      lr_reflect="-1"
      fr_reflect="1"
      parent="${prefix}base_link" />

    <xacro:rear_wheel
      prefix="${prefix}"
      lr_prefix="left"
      fr_prefix="rear"
      lr_reflect="1"
      fr_reflect="-1"
      parent="${prefix}base_link" />

    <xacro:rear_wheel
      prefix="${prefix}"
      lr_prefix="right"
      fr_prefix="rear"
      lr_reflect="-1"
      fr_reflect="-1"
      parent="${prefix}base_link" />

    <!-- CONTROL -->
  </xacro:macro>
</robot>
