<?xml version="1.0"?>
<robot name="rbwatcher" xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- ***************** -->
  <!-- Imported elements -->
  <!-- ***************** -->

  <!-- Import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

  <xacro:include filename="$(find robot_description)/urdf/bases/rbwatcher/rbwatcher_base.urdf.xacro" />
  <xacro:include filename="$(find robot_description)/urdf/structures/summit_hm/summit_hm_structure.xacro" />
  <xacro:include filename="$(find robot_description)/urdf/structures/sensor_support/antena_std.urdf.xacro" />
  <xacro:include filename="$(find robot_description)/simulators/gazebo_ignition/rbwatcher/rbwatcher_control.urdf.xacro" />
  <xacro:include filename="$(find robot_description)/simulators/gazebo_classic/rbwatcher/rbwatcher_control.urdf.xacro" />
  <xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />

  <!-- Properties and Arguments -->

  <xacro:arg name="namespace" default="robot"/>
  <xacro:arg name="prefix" default="robot_"/>
  <xacro:arg name="gazebo_classic" default="true"/>
  <xacro:arg name="gazebo_ignition" default="false"/>
  <xacro:arg name="gpu" default="false"/>
  <xacro:arg name="gps_latitude" default="0"/>
  <xacro:arg name="gps_longitude" default="0"/>
  <xacro:arg name="sim_control_period" default="0.004"/>
  <xacro:arg name="leika" default="false"/>
  
  <xacro:property name="top_structure_mesh" value="robot_description/meshes/structures/rbwatcher/rbwatcher_top_structure" />
  <xacro:property name="top_structure_x" value="-0.17024"/>
  <xacro:property name="top_structure_y" value="0"/>
  <xacro:property name="top_structure_z" value="0.27609"/>
  <xacro:property name="PI" value="3.1415926535897931"/>
  <xacro:property name="antenna_mesh" value="robot_description/meshes/others/antena_wifi_2J7A747Bc" />

  <xacro:property name="gps_offset_x" value="-0.24824"/>
  <xacro:property name="gps_offset_y" value="0.095"/>
  <xacro:property name="gps_offset_z" value="0.76359"/>

  <xacro:property name="lidar_offset_x" value="-0.11924"/>
  <xacro:property name="lidar_offset_y" value="0.0"/>
  <xacro:property name="lidar_offset_z" value="0.38609"/>
  
  <xacro:property name="antenna_offset_x" value="-0.24124"/>
  <xacro:property name="antenna_offset_y" value="0.0"/>
  <xacro:property name="antenna_offset_z" value="0.31109"/>

  <xacro:property name="ptz_offset_x" value="-0.11808"/>
  <xacro:property name="ptz_offset_y" value="0.0"/>
  <xacro:property name="ptz_offset_z" value="0.55429"/>
  
  <xacro:property name="leika_offset_x" value="-0.11808"/>
  <xacro:property name="leika_offset_y" value="0.0"/>
  <xacro:property name="leika_offset_z" value="0.65"/>
 
  <xacro:property name="imu_offset_x" value="-0.03534"/>
  <xacro:property name="imu_offset_y" value="0.132"/>
  <xacro:property name="imu_offset_z" value="0.16109"/>
  
  <xacro:property name="front_rgbd_camera_offset_x" value="0.29881"/>
  <xacro:property name="front_rgbd_camera_offset_y" value="0.0"/>
  <xacro:property name="front_rgbd_camera_offset_z" value="0.15243"/>

  <xacro:property name="rear_rgbd_camera_offset_x" value="-0.308"/>
  <xacro:property name="rear_rgbd_camera_offset_y" value="0.0"/>
  <xacro:property name="rear_rgbd_camera_offset_z" value="0.18308"/>
  
  <xacro:property name="hq" value="true"/>
  
  <xacro:property name="prefix" value="$(arg prefix)"/>
  <xacro:property name="leika" value="$(arg leika)"/>
  
  <!-- Summit XL base -->
  <xacro:rbwatcher prefix="$(arg prefix)" publish_bf="true" hq="${hq}" />
		
  <xacro:summit_hm_structure prefix="${prefix}top_structure" parent="${prefix}base_link" mesh_file="${top_structure_mesh}" >
      <origin xyz="${top_structure_x} ${top_structure_y} ${top_structure_z}" rpy="0 0 0"/>
  </xacro:summit_hm_structure>

  <!-- IMU -->
    <xacro:sensor_vectornav
        frame_prefix="$(arg prefix)vectornav_"
        parent="$(arg prefix)base_link"
        node_namespace="$(arg namespace)"
        gazebo_classic="$(arg gazebo_classic)"
        gazebo_ignition="$(arg gazebo_ignition)">
        <origin xyz="${imu_offset_x} ${imu_offset_y} ${imu_offset_z}" rpy="0 0 0"/>
    </xacro:sensor_vectornav>
   
  <!-- Front Camera -->
    <xacro:sensor_intel_realsense_d435
        frame_prefix="$(arg prefix)front_rgbd_camera_"
        parent="$(arg prefix)base_link"
        node_namespace="$(arg namespace)"
        node_name="front_camera"
        gazebo_ignition="$(arg gazebo_ignition)"
        gazebo_classic="$(arg gazebo_classic)"
        topic_prefix="front_rgbd_camera">
        <origin xyz="${front_rgbd_camera_offset_x} ${front_rgbd_camera_offset_y} ${front_rgbd_camera_offset_z}" rpy="0 0 0"/>
    </xacro:sensor_intel_realsense_d435>


    <!-- Rear Camera -->
    <xacro:sensor_intel_realsense_d435
        frame_prefix="$(arg prefix)rear_rgbd_camera_"
        parent="$(arg prefix)base_link"
        node_namespace="$(arg namespace)"
        node_name="rear_camera"
        gazebo_ignition="$(arg gazebo_ignition)"
        gazebo_classic="$(arg gazebo_classic)"
        topic_prefix="rear_rgbd_camera">
        <origin xyz="${rear_rgbd_camera_offset_x} ${rear_rgbd_camera_offset_y} ${rear_rgbd_camera_offset_z}" rpy="0 ${PI} 0"/>
    </xacro:sensor_intel_realsense_d435>

  <!-- GPS -->
    <xacro:sensor_ublox
        frame_prefix="$(arg prefix)gps_"
        topic_prefix="gps"
        parent="$(arg prefix)base_link"
        node_namespace="$(arg namespace)"
        gazebo_ignition="$(arg gazebo_ignition)"
        gazebo_classic="$(arg gazebo_classic)">
        <origin xyz="${gps_offset_x} ${gps_offset_y} ${gps_offset_z}" rpy="0 0 0"/>
    </xacro:sensor_ublox>

    <!-- LIDAR -->
    <xacro:sensor_robosense_helios_16p
        frame_prefix="$(arg prefix)top_3d_laser"
        parent="$(arg prefix)base_link"
        topic_prefix="top_3d_laser"
        node_namespace="$(arg namespace)"
        node_name="top_3d_laser"
        gpu="$(arg gpu)"
        gazebo_ignition="$(arg gazebo_ignition)"
        gazebo_classic="$(arg gazebo_classic)">
        <origin xyz="${lidar_offset_x} ${lidar_offset_y} ${lidar_offset_z}" rpy="0 0 0"/>
    </xacro:sensor_robosense_helios_16p>
    
    <!-- Antenna -->
    <xacro:sensor_antena_std
        prefix="$(arg prefix)antenna"
        parent="$(arg prefix)base_link"
        mesh_file="${antenna_mesh}">
        <origin xyz="${antenna_offset_x} ${antenna_offset_y} ${antenna_offset_z}" rpy="0 0 0"/>
    </xacro:sensor_antena_std>
    
    <!-- PTZ camera -->
    <xacro:unless value="${leika}">
	<xacro:sensor_link_750_nh 
	    prefix="$(arg prefix)top_ptz_camera"
	    parent="$(arg prefix)base_link"
	    topic_prefix="top_ptz_camera"
	    fps="15.0"
	    node_namespace="$(arg namespace)">
	    <origin xyz="${ptz_offset_x} ${ptz_offset_y} ${ptz_offset_z}" rpy="0 0 0"/>
	</xacro:sensor_link_750_nh>
    </xacro:unless>
    
    <!-- Leika Laser -->
    <xacro:if value="${leika}">
	<xacro:sensor_blk_arc 
	    prefix="$(arg prefix)top_ptz_camera"
	    parent="$(arg prefix)base_link">
	    <origin xyz="${leika_offset_x} ${leika_offset_y} ${leika_offset_z}" rpy="0 0 0"/>
	</xacro:sensor_blk_arc>
    </xacro:if>

    <!-- Controllers -->
    <xacro:if value="$(arg gazebo_classic)">
        <xacro:rbwatcher_gz_classic_control namespace="$(arg namespace)" prefix="$(arg prefix)"/>
        <xacro:ros_planar_move_gazebo_classic/>
    </xacro:if>
    <xacro:if value="$(arg gazebo_ignition)">
        <xacro:rbwatcher_gz_ignition_control namespace="$(arg namespace)" prefix="$(arg prefix)"/>
    </xacro:if>
    <xacro:unless value="$(arg gazebo_classic)">
        <xacro:unless value="$(arg gazebo_ignition)">
            <xacro:rbwatcher_base_hw_controller/>
        </xacro:unless>
    </xacro:unless>
    
</robot>
