<?xml version="1.0"?>
<robot name="rbkairos" xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- ***************** -->
  <!-- Imported elements -->
  <!-- ***************** -->

  <!-- Import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

  <xacro:include filename="$(find robotnik_description)/urdf/bases/rbficus/rbficus_base.urdf.xacro" />
  <xacro:include filename="$(find robotnik_description)/urdf/base_hw/rbficus.ros2_control.urdf" />
  <xacro:include filename="$(find robotnik_description)/simulators/gazebo_ignition/rbficus/rbficus_control.urdf.xacro" />
  <xacro:include filename="$(find robotnik_description)/simulators/gazebo_classic/rbficus/rbficus_control.urdf.xacro" />
  <xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />

  <!-- Properties and Arguments -->

  <xacro:arg name="namespace" default="robot"/>
  <xacro:arg name="prefix" default="robot_"/>
  <xacro:arg name="gazebo_classic" default="false"/>
  <xacro:arg name="gazebo_ignition" default="false"/>

  <xacro:property name="front_laser_offset_x" value="0.2865"/>
  <xacro:property name="front_laser_offset_y" value="-0.20894"/>
  <xacro:property name="front_laser_offset_z" value="0.2973"/>

  <xacro:property name="rear_laser_offset_x" value="-0.2865"/>
  <xacro:property name="rear_laser_offset_y" value="0.20894"/>
  <xacro:property name="rear_laser_offset_z" value="0.2973"/>

  <xacro:property name="imu_offset_x" value="0.127"/>
  <xacro:property name="imu_offset_y" value="-0.129"/>
  <xacro:property name="imu_offset_z" value="0.212"/>

  <xacro:rbficus prefix="$(arg prefix)"/>

	<!-- Controllers -->
	<xacro:if value="$(arg gazebo_ignition)">
		<xacro:rbficus_gz_ignition_control namespace="$(arg namespace)" prefix="$(arg prefix)"/>
	</xacro:if>
	<xacro:if value="$(arg gazebo_classic)">
		<xacro:rbficus_gz_ignition_control namespace="$(arg namespace)" prefix="$(arg prefix)"/>
	</xacro:if>
  <xacro:unless value="$(arg gazebo_ignition)">
    <xacro:unless value="$(arg gazebo_classic)">
        <xacro:rbficus_base_hw_controller/>
    </xacro:unless>
  </xacro:unless>

</robot>
