<?xml version="1.0"?>
<robot name="rbrobout" xmlns:xacro="http://wiki.ros.org/xacro">


	<!-- ***************** -->
	<!-- Imported elements -->
	<!-- ***************** -->

	<!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

	<!-- Import RB-Robout base elements -->
	<xacro:include filename="$(find robot_description)/urdf/bases/rbrobout_base.urdf.xacro" />

	<!-- Import RB-Robout wheels -->
    <xacro:include filename="$(find robot_description)/urdf/wheels/omni_wheel/rbrobout_omni_wheel.urdf.xacro" />

	<!-- Import all available sensors -->
	<xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />

	<!-- Import robocomp structures -->
	<xacro:include filename="$(find robot_description)/urdf/robocomp/cajon.urdf.xacro" />
	<xacro:include filename="$(find robot_description)/urdf/robocomp/telescopico.urdf.xacro" />
	<xacro:include filename="$(find robot_description)/urdf/robocomp/tool_changer.urdf.xacro" />
	
	<!-- UR-20 arm -->
	<xacro:include filename="$(find ur_description)/urdf/inc/ur20_macro.xacro" />

	<xacro:property name="PI" value="3.1415926535897931"/>

	<!-- Wheel parameters -->
	<xacro:property name="wheel_offset_x" value="0.558" />    <!-- x,y,z in translation from base_link to the center of the wheel -->
	<xacro:property name="wheel_offset_y" value="0.2865" />
	<xacro:property name="wheel_offset_z" value="0.0" />

	<!-- Flag to select the high or low quality model -->
	<xacro:property name="hq" value="true" />

	<xacro:arg name="prefix" default="rbrobout_"/>
	<xacro:arg name="ros_planar_move_plugin" default="false"/>
	<xacro:arg name="gpu" default="false"/>


  <xacro:macro name="rbrobout" params="prefix publish_bf hq">

		<!-- *************** -->
		<!-- Robots Elements -->
		<!-- *************** -->

		<!-- Here we create the robot elements using the xacro:macros imported at the beggining of this file -->

		<!-- Summit XL base -->
		<xacro:rbrobout_base prefix="$(arg prefix)" publish_bf="true" hq="${hq}" />

		<!-- Wheels -->
		<xacro:omni_wheel prefix="$(arg prefix)front_right" parent="$(arg prefix)base_link" reflect="false" hq="${hq}">
			<origin xyz="${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="1.57 0 0"/>
		</xacro:omni_wheel>

		<xacro:omni_wheel prefix="$(arg prefix)front_left" parent="$(arg prefix)base_link" reflect="true" hq="${hq}">
			<origin xyz="${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="1.57 0 0"/>
		</xacro:omni_wheel>

		<xacro:omni_wheel prefix="$(arg prefix)back_left" parent="$(arg prefix)base_link" reflect="true" hq="${hq}">
			<origin xyz="-${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="1.57 0 0"/>
		</xacro:omni_wheel>

		<xacro:omni_wheel prefix="$(arg prefix)back_right" parent="$(arg prefix)base_link" reflect="false" hq="${hq}">
			<origin xyz="-${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="1.57 0 0"/>
		</xacro:omni_wheel>

    <!-- IMU -->
		<xacro:sensor_imu prefix="$(arg prefix)imu" parent="$(arg prefix)base_link">
			<origin xyz="0.242 -0.053 -0.028" rpy="0 0 0"/>
		</xacro:sensor_imu>

		<!-- front 2d laser -->
		<xacro:sensor_sick_microscan3 prefix="$(arg prefix)front_laser" parent="$(arg prefix)base_link" prefix_topic="front_laser" gpu="false">
			<origin xyz="0.8 0.366 -0.06" rpy="0 0 ${1/4*PI}"/>
		</xacro:sensor_sick_microscan3>

		<!-- rear 2d laser -->
		<xacro:sensor_sick_microscan3 prefix="$(arg prefix)rear_laser" parent="$(arg prefix)base_link" prefix_topic="rear_laser" gpu="false">
			<origin xyz="-0.8 -0.366 -0.06" rpy="0 0 ${-3/4*PI}"/>
		</xacro:sensor_sick_microscan3>


		<xacro:sensor_intel_d435 prefix="$(arg prefix)front_rgbd_camera" parent="$(arg prefix)base_link" prefix_topic="front_rgbd_camera">
      		<origin xyz="0.835 0  0.1555" rpy="0 0 0"/>
    	</xacro:sensor_intel_d435>
    	
    		<xacro:sensor_intel_d435 prefix="$(arg prefix)rear_rgbd_camera" parent="$(arg prefix)base_link" prefix_topic="rear_rgbd_camera">
      		<origin xyz="-0.835 0  0.1555" rpy="0 0 ${PI}"/>
    	</xacro:sensor_intel_d435>

		<xacro:sensor_rs_helios_16p prefix="$(arg prefix)3d_laser" parent="$(arg prefix)base_link" prefix_topic="top_3d_laser">
      		<origin xyz="0.4015 -0.44544 1.45476" rpy="0 0 ${PI}"/>
    	</xacro:sensor_rs_helios_16p>

		<!-- Robocomp structures -->
		<xacro:structure_robocomp_cajon prefix="$(arg prefix)cajon" parent="$(arg prefix)base_link">
      		<origin xyz="0 0 0" rpy="0 0 0"/>
    	</xacro:structure_robocomp_cajon>

		<xacro:structure_robocomp_telescopico prefix="$(arg prefix)telescopico" parent="$(arg prefix)cajon_link">
      		<origin xyz="-0.7605 0 1.05" rpy="0 0 0"/>
    	</xacro:structure_robocomp_telescopico>

		<xacro:structure_robocomp_tool_changer prefix="$(arg prefix)tool_changer" parent="$(arg prefix)arm_tool0">
      		<origin xyz="0 0 0" rpy="0 ${-PI/2} 0"/>
    	</xacro:structure_robocomp_tool_changer>

		<!-- UR-20 ARM -->
		<xacro:ur20_robot prefix="$(arg prefix)arm_">
		</xacro:ur20_robot>

		<joint name="$(arg prefix)arm_base_joint" type="fixed">
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<parent link="$(arg prefix)telescopico_link" />
			<child link="$(arg prefix)arm_base_link" />
		</joint>

   </xacro:macro>

   <!-- Gazebo ros control plugins -->
   <xacro:ros_control/>

	<xacro:if value="$(arg ros_planar_move_plugin)">
			<xacro:omni_steering prefix="$(arg prefix)" publish_tf="true"/>
	</xacro:if>

   <xacro:rbrobout prefix="$(arg prefix)" publish_bf="true" hq="true"/>


</robot>
