<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="rbvogui_gz_ignition_control" params="namespace prefix">
    <xacro:include filename="$(find robotnik_description)/simulators/gazebo_ignition/ros2_control.xacro" />
    <xacro:gz_ignition_control
      namespace="${namespace}"
      controller_param_file="$(find robotnik_description)/simulators/gazebo_ignition/rbrobout/rbrobout_controller_params.yaml"
    >
      <wheel_block>
        <!-- Steering joints -->
        <xacro:ros2_joint interface="position" jmin="-2" jmax="2" name="${prefix}front_left_steering_joint"/>
        <xacro:ros2_joint interface="position" jmin="-2" jmax="2" name="${prefix}front_right_steering_joint"/>
        <xacro:ros2_joint interface="position" jmin="-2" jmax="2" name="${prefix}back_left_steering_joint"/>
        <xacro:ros2_joint interface="position" jmin="-2" jmax="2" name="${prefix}back_right_steering_joint"/>
        <!-- Wheel joints -->
        <xacro:ros2_joint interface="velocity" jmin="-10" jmax="10" name="${prefix}front_left_wheel_joint"/>
        <xacro:ros2_joint interface="velocity" jmin="-10" jmax="10" name="${prefix}front_right_wheel_joint"/>
        <xacro:ros2_joint interface="velocity" jmin="-20" jmax="20" name="${prefix}back_left_wheel_joint"/>
        <xacro:ros2_joint interface="velocity" jmin="-20" jmax="20" name="${prefix}back_right_wheel_joint"/>
      </wheel_block>
    </xacro:gz_ignition_control>
  </xacro:macro>
</robot>
