<?xml version="1.0"?>
<robot name="structure" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="structure_robocomp_tool_changer" params="prefix parent *origin">

	  <joint name="${prefix}__base_joint" type="fixed">
	    <axis xyz="0 1 0"/>
	    <xacro:insert_block name="origin"/>
	    <parent link="${parent}"/>
	    <child link="${prefix}_base_link"/>
	  </joint>

	  <link name="${prefix}_base_link">
		<inertial>
			<mass value="2" />
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<inertia ixx="1e-1" ixy="0" ixz="0" iyy="1e-1" iyz="0" izz="1e-1" />
		</inertial>
	    <visual>
	      <origin rpy="0 0 0" xyz="0 0 0"/>
	      <material name="alu_color">
           <color rgba="0.5 0.5 0.5 1"/>
        </material>
	      <geometry>
	        <mesh filename="package://robot_description/meshes/robocomp/tool_changer.stl"/>
	      </geometry>
	    </visual>
	    <collision>
	      <origin rpy="0 0 0" xyz="0 0 0"/>
	      <geometry>
	        <mesh filename="package://robot_description/meshes/robocomp/tool_changer.stl"/>
	      </geometry>
	    </collision>
	  </link>

	  <joint name="${prefix}_tool_joint" type="fixed">
	    <axis xyz="0 1 0"/>
	      <origin rpy="0 0 0" xyz="0 0 0.05"/>
	    <parent link="${prefix}_base_link"/>
	    <child link="${prefix}_tool_link"/>
	  </joint>

	  <link name="${prefix}_tool_link">
	    <visual>
	      <origin rpy="0 0 0" xyz="0 0 0"/>
	      <material name="alu_color">
           <color rgba="0.5 0.5 0.5 1"/>
        </material>
	      <geometry>
	      </geometry>
	    </visual>
	    <collision>
	      <origin rpy="0 0 0" xyz="0 0 0"/>
	      <geometry>
	      </geometry>
	    </collision>
	  </link>

	  <gazebo reference="${prefix}_base_link">
	    <material>Gazebo/White</material>
	    <gravity>true</gravity>
	  </gazebo>

	  <gazebo reference="${prefix}_tool_link">
	    <material>Gazebo/White</material>
	    <gravity>true</gravity>
	  </gazebo>

  </xacro:macro>

</robot>
