<?xml version="1.0"?>
<robot name="summit_xl" xmlns:xacro="http://wiki.ros.org/xacro">


	<!-- ***************** -->
	<!-- Imported elements -->
	<!-- ***************** -->

	<!-- First we import the robot and all the sensors. All these elements are defined as macro:xacros -->

	<!-- Import summit XL macro -->
	<xacro:include filename="$(find robot_description)/macros/rbsummit_macro.xacro"/>

	<!-- Import all available sensors -->
	<xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />

	<!-- Import antenna -->
	<xacro:include filename="$(find robot_description)/urdf/structures/sensor_support/structure_teltonika.urdf.xacro" />

	<xacro:include filename="$(find robot_description)/gazebo/classic/rbsummit_control.urdf.xacro"/>
	<xacro:include filename="$(find robot_description)/gazebo/ignition/rbsummit_control.urdf.xacro"/>

	<!-- ***************** -->
	<!-- Sensor parameters -->
	<!-- ***************** -->
	<!-- x,y,z in translation from base_link to the center of the sensor -->
	<xacro:property name="imu_offset_x" value="0.0385"/>
	<xacro:property name="imu_offset_y" value="0.132"/>
	<xacro:property name="imu_offset_z" value="0.158"/>

	<xacro:property name="top_laser_offset_x" value="-0.11808"/>
	<xacro:property name="top_laser_offset_y" value="0.0"/>
	<xacro:property name="top_laser_offset_z" value="0.38509"/>

	<xacro:property name="front_rgbd_camera_offset_x" value="0.324"/>
	<xacro:property name="front_rgbd_camera_offset_y" value="0.012"/>
	<xacro:property name="front_rgbd_camera_offset_z" value="0.172"/>

	<xacro:property name="front_ptz_camera_offset_x" value="0.19"/>
	<xacro:property name="front_ptz_camera_offset_y" value="0.0"/>
	<xacro:property name="front_ptz_camera_offset_z" value="0.26"/>

	<xacro:property name="gps_offset_x" value="-0.22528"/>
	<xacro:property name="gps_offset_y" value="0.095"/>
	<xacro:property name="gps_offset_z" value="0.275"/>


	<!-- Other elements -->
	<!--
	<xacro:property name="antenna_offset_x" value="-0.22528"/>
	<xacro:property name="antenna_offset_y" value="-0.095"/>
	<xacro:property name="antenna_offset_z" value="0.23325"/>
	-->
	<xacro:property name="antenna_offset_x" value="-0.25528"/>
	<xacro:property name="antenna_offset_y" value="0.0"/>
	<xacro:property name="antenna_offset_z" value="0.23325"/>

	<!-- ***************** -->
	<!-- Global parameters -->
	<!-- ***************** -->

	<!-- Second we define all the parameters and arguments to customize the robot characteristics -->

	<xacro:property name="PI" value="3.1415926535897931"/>

	<!-- Flag to select the high or low quality model -->
	<xacro:property name="hq" value="true" />

	<!-- Launch Arguments -->
	<xacro:arg name="use_gazebo_classic" default="false" />
	<xacro:arg name="use_gazebo_ignition" default="false" />
	<xacro:arg name="gpu" default="true" />
	<xacro:arg name="namespace" default="robot" />

	<xacro:arg name="gps_latitude" default="0"/>
	<xacro:arg name="gps_longitude" default="0"/>

	<!-- Here we create the robot using the xacro:macro imported at the beggining of this file -->
	<xacro:rbsummit hq="${hq}"/>

	<!-- Custom Sensors -->

	<!-- IMU -->
	<xacro:sensor_vectornav
		frame_prefix="rbsummit_imu_"
		parent="rbsummit_base_link"
	>
		<origin
			xyz="${imu_offset_x} ${imu_offset_y} ${imu_offset_z}"
			rpy="0 0 0"
		/>
	</xacro:sensor_vectornav>

	<!-- 3d laser -->
	<xacro:sensor_robosense_helios
		frame_prefix="rbsummit_top_3d_laser_"
		parent="rbsummit_base_link"
		gpu="$(arg gpu)"
	>
		<origin
			xyz="${top_laser_offset_x} ${top_laser_offset_y} ${top_laser_offset_z}"
			rpy="0 0 0"
		/>
	</xacro:sensor_robosense_helios>

	<!-- ptz camera -->
	<!--
	<xacro:sensor_axis
		prefix="rbsummit_front_ptz_camera"
		parent="rbsummit_base_link"
	>
		<origin
			xyz="0.19 0 0.26"
			rpy="0 ${15*PI/180} 0"
		/>

	</xacro:sensor_axis>
	-->

	<!-- RGBD -->
	<xacro:sensor_intel_realsense_d435
		frame_prefix="rbsummit_front_rgbd_camera_"
		parent="rbsummit_base_link"
		topic_prefix="front_rgbd_camera"
	>
		<origin
			xyz="${front_rgbd_camera_offset_x} ${front_rgbd_camera_offset_y} ${front_rgbd_camera_offset_z}"
			rpy="0 0 0"
		/>
	</xacro:sensor_intel_realsense_d435>

	<!-- GPS -->
	<xacro:sensor_gps
		frame_prefix="rbsummit_gps_"
		parent="rbsummit_base_link"
		update_rate="5"
	>
		<origin
			xyz="${gps_offset_x} ${gps_offset_y} ${gps_offset_z}"
			rpy="0 0 0"
		/>
	</xacro:sensor_gps>


	<!-- Other Elements -->

	<!-- Antenna -->
	<xacro:structure_mastil_teltonika
		prefix="rbsummit_antenna"
		parent="rbsummit_base_link"
	>
		<origin
			xyz="${antenna_offset_x} ${antenna_offset_y} ${antenna_offset_z}"
			rpy="0 0 0"
		/>
	</xacro:structure_mastil_teltonika>

	<xacro:if value="$(arg use_gazebo_classic)">
		<xacro:rbsummit_gz_classic_control namespace="$(arg namespace)"/>
	</xacro:if>

	<xacro:if value="$(arg use_gazebo_ignition)">
		<xacro:rbsummit_gz_ignition_control namespace="$(arg namespace)"/>
	</xacro:if>

</robot>
